/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.ribbon-class {
	border-radius: 0.3em;
	transition: all 0.7s;
	box-shadow:
		0px 0px 0px 1px rgb(0 0 0 / 0.1),
		0px 1px 1px -0.5px rgb(0 0 0 / 0.1),
		0px 3px 3px -1.5px rgb(0 0 0 / 0.1),
		0px 6px 6px -3px rgb(0 0 0 / 0.1),
		0px 12px 12px -6px rgb(0 0 0 / 0.1),
		0px 24px 24px -12px rgb(0 0 0 / 0.1);
}

.ribbon-class:hover {
	box-shadow:
		0px 0px 0px 1px rgb(0 0 0 / 0.3),
		0px 1px 1px -0.5px rgb(0 0 0 / 0.3),
		0px 3px 3px -1.5px rgb(0 0 0 / 0.3),
		0px 6px 6px -3px rgb(0 0 0 / 0.3),
		0px 12px 12px -6px rgb(0 0 0 / 0.3),
		0px 24px 24px -12px rgb(0 0 0 / 0.3);
}

.spinner {
	display: inline-block;
	background-color: currentColor;
	opacity: 0; /* Start fully transparent */
	animation: pulseFade 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulseFade {
	0% {
		transform: scale(0.1);
		opacity: 0;
	}
	50% {
		transform: scale(0.8); /* Enlarge */
		opacity: 1; /* Fully visible */
	}
	100% {
		transform: scale(1);
		opacity: 0; /* Fade out */
	}
}

.generate-completion-modal {
	width: 100%;
	height: auto;
	min-height: 4em;
}

.generated-content-modal {
	width: 100%;
	height: auto;
	min-height: 6em;
}

.generate-button-modal {
	width: 100%;
	height: auto;
	min-height: 3em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.integrate-button-modal {
	width: 100%;
	height: auto;
	margin-top: 0.5em;
}
